.appear {
  display: block;
}
.dddOverlay___2Zh4f .main___1ycye {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 350;
}
.dddOverlay___2Zh4f .main___1ycye {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 350;
}
.dddAlert___13AIo .main___2HyRR {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  z-index: 400;
}
.dddAlert___13AIo .content___3L01j {
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.message___1vgG_ {
  word-break: break-word;
}
.text___3bQr6 {
  color: #333;
  font-size: 17px;
  line-height: 22px;
}
.btnList___AwoSF.rowDirection___11SMi {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.btnList___AwoSF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 224px;
  overflow: hidden;
}
.btnList___AwoSF .btnItem___Y-C7_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mt___1XUC4 .btnTxt___3RL8c,
.mt1___109Uw .btnTxt___3RL8c {
  color: #333;
}
.btnTxt___3RL8c {
  color: #007aff;
  line-height: 44px;
  height: 44px;
}

.text___3bQr6 {
  color: #333;
  font-size: 17px;
  line-height: 22px;
}
.btnList___AwoSF.rowDirection___11SMi .btnItem___Y-C7_:not(:first-child) {
  border-left: 1px solid #e6e6e6;
}
.mt___1XUC4 .btnTxt___3RL8c.highlight___3YP1L,
.mt1___109Uw .btnTxt___3RL8c.highlight___3YP1L {
  color: #ffaf00;
}

.btnList___AwoSF .btnItem___Y-C7_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mt___1XUC4 .btnTxt___3RL8c,
.mt1___109Uw .btnTxt___3RL8c {
  color: #333;
}
.btnTxt___3RL8c {
  color: #007aff;
  line-height: 44px;
}
.text___3bQr6 {
  color: #333;
  font-size: 17px;
  line-height: 22px;
}
