.page__bd {
  padding-bottom: 20px;
}
._3uTnjGaICQR0QQJ0b-Nk8k {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
._3XRWZqdyupCVEnwa2XBFGr {
  font-size: 11px;
  min-height: 600px;
  min-height: calc(100vh - 140px);
}
._2db1e1m154ODnjL1-ivQvq {
  background: #fff;
  overflow: hidden;
}
.FcKg0z7ZA3tlZo-vSxopN {
  padding: 0 10px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-top: 10px;
  position: relative;
}
._2q5HWkq__CHgEQLE76bhCF {
  width: 76px;
  height: 57px;
  position: relative;
  box-sizing: border-box;
  margin-right: 8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 2px;
  overflow: hidden;
}
._2q5HWkq__CHgEQLE76bhCF ._3f5at3Y6MnNFz0hFltS3GS {
  position: absolute;
  width: 26px;
  right: 0;
  z-index: 1;
}
._2q5HWkq__CHgEQLE76bhCF ._2igkDNMjpxxIgHzE1Ptqyk {
  display: block;
  width: 100%;
}
.lazyimage-holder {
  position: relative;
  height: 57px;
}
.lazyimage-holder .lazyimage-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
._2L_M6YlchG3yfnSSg7L6mL {
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  min-width: 0;
}
._2L_M6YlchG3yfnSSg7L6mL ._3ce4X4pC6NTjqy4_fKHA8E {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
._2L_M6YlchG3yfnSSg7L6mL ._21yyPg0MxIEFMCg8RnTeUo {
  margin-top: 4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.D11MX3M-SDa4TXs8lmgHq {
  display: inline-block;
  height: 12px;
}
._1ukqM-8qHp61SdF68btTCh {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAABICAMAAADbJ8U9AAAAmVBMVEUAAADl5eX/1lX/1FX/1Vb/2VXn5+fm5ubq5tz/11bl5eXl5eX/1VXm5ubn5+f/1V//1FT/1FX/1lXl5eXl5eX/2Fbq6urk5OTk5OT/1VT/1lX/1FXl5eX/11Tl5eXl5eXl5eX/1VT/1VTl5eX/1Vbm5ub/01j/1VTl5eX/1Vfl5eX/1lTk5OTl5eX33Z7/1VXk5OT/1FT13J3Q9qRrAAAAMHRSTlMAvpb7aDg5bR8f85pyZ0IX9L23k1lBF/rk5MChoIeGdGBgW05OKCjsxVXsxbV+fn5ImA76AAABIklEQVQ4y9WSyXLCMBBEJRmMjRdwjM2+L9mTGf//x0UpyIAmo4ILB/qicr9q66Cn7pNvT9/GSgZPWHgGiG15gFjIAz457FJTjPGY8cSku8MRtJCndZqs5d5mE1z2a3XO65kEG2rde1J1GzAEjAsmBN5d8IzYn8fzvj2cvoeB6f2eJsD4ElTTv894WqkHyZfPqyb3eNVoj1cNhOLAAi0OLIBQ9MoCGOlkud2zZ23glA555YLM9YrAyvWKwMDVh0BH3QYMgYR5ReBF8mrRBeiKXtXlECLZq2iWqwfJp6cPIZeBBu0ZgOzVhwVaHvDJfrtM9AhsmFcZUJhXK2q4VwOgkFeccK8y9v/roCTAvNIEmFdvVqhF9N+rGoZlLXmVz6I7evUDNbpOpWFLPZYAAAAASUVORK5CYII=)
    no-repeat;
  width: 12px;
  height: 12px;
  float: left;
  background-position: 40% 5.66%;
  background-size: 126% 379%;
}
._1V9_Khfd3oEDl7_xSgGuGL {
  margin-left: 10px;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._3jD4JjJGIR519uivFOA_ud:not(:first-child):before {
  content: "";
  display: inline-block;
  margin: 0 3px;
  height: 6px;
  width: 1px;
  background: #ccc;
}
._1wRyOmTit2wxvwxcfx4tf1 {
  margin-top: 4px;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._3ykJaIHGFSdjdQuChaUN6z {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8px;
}
._1vvO5ZUocEXs-aSvyWfhGT {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
._3ykJaIHGFSdjdQuChaUN6z ._34MB4leIjAhG3LXl-DN8Ed {
  color: #666;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
._3ykJaIHGFSdjdQuChaUN6z {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8px;
}
._1vvO5ZUocEXs-aSvyWfhGT {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
._3ykJaIHGFSdjdQuChaUN6z ._34MB4leIjAhG3LXl-DN8Ed {
  color: #666;
}
._34MB4leIjAhG3LXl-DN8Ed {
  font-size: 11px;
  color: #333;
  line-height: 1.4;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}
._1trp87Y4mWLUnRnJ55u6Pg {
  height: 47px;
  width: 47px;
  background-size: 100% 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABeCAYAAACq0qNuAAAABGdBT…eOQ8bNdYhPQY/4FLSJQ9aljK5bEIePGbG6J8Tqnu6zkT9X5lbtRNYDpQAAAABJRU5ErkJggg==);
  position: fixed;
}
._1trp87Y4mWLUnRnJ55u6Pg {
  height: 47px;
  width: 47px;
  background-size: 100% 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABeCAYAAACq0qNuAAAABGdBT…eOQ8bNdYhPQY/4FLSJQ9aljK5bEIePGbG6J8Tqnu6zkT9X5lbtRNYDpQAAAABJRU5ErkJggg==);
  position: fixed;
}
._3dP7gNdPQSL2SzrHSdi09w,
._1trp87Y4mWLUnRnJ55u6Pg {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 120px;
  height: 80px;
  line-height: 80px;
  color: #999;
  text-align: center;
  z-index: 11;
}
._1trp87Y4mWLUnRnJ55u6Pg > ._3OJ9IxiDZ2DcNn_xkNUeDG {
  background: #333;
  width: 66px;
  height: 66px;
  z-index: 1111;
  margin: 10.5px auto;
  -webkit-animation: _2x8SnmgrsNlwI06cyRNdqC 1s infinite linear;
  animation: _2x8SnmgrsNlwI06cyRNdqC 1s infinite linear;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#loadingToast {
  display: none;
  opacity: 0;
}
